node_modules
vendor
build
slither.log
checkCorrectness
.env
*merged.sol
temp
.DS_Store
accounts.json
cache
artifacts
coverage
coverage.json
.openzeppelin/unknown-31337.json
.openzeppelin/unknown-421611.json
.openzeppelin/unknown-421613.json
.openzeppelin/*-9876543210.json
.gitsigners
typechain-types/*
*.log